@font-face {
  font-family: 'UTM Avo';
  src: url('../src/asset/UTM\ Avo.ttf') format('truetype'); /* Đảm bảo không sử dụng dấu backslash */
  font-weight: bold; /* Nếu đây là font bold, thêm thuộc tính này */
  font-style: normal; /* Thêm thuộc tính này nếu cần */
}

body {
  margin: 0;
  font-family: 'UTM Avo', sans-serif; /* Thêm sans-serif như font dự phòng */
}